*.db
.DS_Store
nb-configuration.xml

.idea/
*.iml
**/**/*.iml

.classpath
.project
.gradle/
build/
classes/
**/web.xml
**/log4j.properties

docker-compose.yml

out/
web/dist
web/.cache
web/node_modules
src/main/webapp/static

application-default.yml
